.Movies{
    margin: 0px;
    padding: 0px;
    background-color: #171717;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.movie{
    background-color: #860000;
    margin: 10px;
    padding: px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 340px;
}
.movie:hover{
    
    box-shadow: 5px 5px 10px gray;
    background-color: #b90202;
}
p{
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
img{
    width: 200px;
    height: 280px;
    object-fit: cover;
}
.nav{
    padding: 20px;
    background-color: #171717;
    display: flex;
    justify-content: center;
}
.searchbar{
    
    background-color: #dbdbdb;
    border-radius: 15px;
    border: none;
    width: 200px;
    background-image: url("https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png");
    background-position: 170px 13px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 20px;


}
.starlogo{
    width: 20px;
    height: 20px;
    margin: 10px;
    
}
.starfilter{
    font-size: 30px;
    margin-left: 20px;
}
.footer{
    background-color: #b92b2ba1;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.Home{
    background-color: #171717;
    margin-bottom: 0;
}

